<div class="contents row">
    <%= form_with model: @tweet,local: true do |f| %>
      <h3>
        編集する
      </h3> 
      <%= f.text_field :image, placeholder: "Image Url"  %>   
      <%= f.text_area :text, cols:"30", name:"text", placeholder:"text", rows:"10"%>  
      <%# <%= f.submit , value:"SENT"%> 
      <!--
      <input placeholder="Image Url" type="text" name="image" value="<%= @tweet.image %>" autofocus="true">
      <textarea cols="30" name="text" placeholder="text" rows="10"><%= @tweet.text %></textarea>
  -->
      <input type="submit" value="SENT">
    <% end %>